<%- include('../../header') %>
<div class="row">
  <div class="title">
    <h2 style="display: inline-block;">Administrar vagas:</h2> &nbsp;
    <a href="/admin" style="font-size: 18px; ">Voltar</a>
  </div>
  <form method="POST">
    <label for="titulo">Titulo:</label>
    <input type="text" name="titulo" id="titulo">
    <label for="descricao">Descrição:</label>
    <textarea name="descricao" id="descricao"></textarea>
    <label for="categoria">Categoria</label>
    <select name="categoria" id="categoria">
      <% categorias.forEach( cat => { %>
      <option value="<%- cat.id %>"><%- cat.nome %></option>
      <% }) %>
    </select>
    <input type="submit" value="Enviar">
  </form>
</div>
<%- include('../../footer') %>