<%- include('../../header') %>
  <div class="row">
    <h2 class="title">New role:</h2>
    <form action="/admin/vagas/new" method="POST">
      <label for="titulo">Titulo:</label>
      <input type="text" name="titulo" id="titulo">
      <label for="descricao">Descrição:</label>
      <textarea name="descricao" id="descricao"></textarea>
      <label for="categoria">Categoria</label>
      <select name="categoria" id="categoria">
        <% categorias.forEach( cat => { %>
          <option value="<%- cat.id %>"><%- cat.name %></option>
        <% }) %>
      </select>
      <input type="submit" value="Send">
    </form>
  </div>
  <%- include('../../footer') %>